[inet_http_server]
port={{ supervisor_http_host }}:{{ supervisor_http_port }}

{% if supervisor_http_auth %}
username={{ supervisor_http_auth.username }}
password={{ supervisor_http_auth.password }}
{% endif %}
